* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

*::selection {
    background-color: var(--cyan);
    color: var(--white);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

:root {
    --cyan: #6AD4DD;
    --red: #c0392b;
    --red2: #DD5746;
    --orange: #f39c12;
    --black: #111111;
    --white: #fff;
    --light-color: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


.form-container {
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 15px;
}

.form-container form {
    padding: 2rem;
    width: 40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    /* border: var(--border); */
    background-color: var(--white);
    text-align: center;
}

.form-container form .label {
    display: block;
    width: 100%;
    padding: rem 1.4rem;
    font-size: 1rem;
    margin: .5rem 0;
    text-align: left;
}

.form-container form p {
    padding-top: 1.5rem;
    font-size: 19px;
    color: var(--black);
}

.form-container form p a {
    color: var(--cyan);
}

.form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    justify-content: center;
    text-align: center;
}

.form-container form .box {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0;
}

.form-container form p a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 5px;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
    background-color: rgb(39, 116, 249)
}

.btn:hover {
    background-color: rgb(23, 23, 224);
}

.msg-error{
    color:red;
    font-style: italic;
}

.admin-header{
    font-size: medium;
}


.search-box{
    margin-left: 40px;
    border: #f1f1f1 solid 1px;
    
}



.active{
    color: blue;
}


/* Profile */
.profile {
    margin: 20px 0;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 10px 15px hsl(0deg, 0% 0% / 0.31);
}

.profile .avatar {
    width: 125px;
    height: 125px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.profile .avatar img{
    width: 100%;
    height: 125px;
    border-radius: 100%;
    border: solid 4px #070707;
}

.profile .body  {
    text-align: left;
}

.profile .avatar .avatar-wrapper {
    position: relative;
}

.profile .avatar > div > div {
    display: flex;
    justify-content: center;
}

.profile .avatar .avatar-wrapper button {
    bottom: 12px;
    display: none;
    position: absolute;
    background-color: #070707;
    border: 1px solid #070707;
}

.profile .avatar .avatar-wrapper:hover button {
    display: block;
}

.profile .avatar svg {
    font-size: 125px;
}

.profile p {
    margin: 0;
    margin-bottom: 10px;
}

@media (max-wdith: 768px) {
    .profile {
        flex-direction:  column;
    }
}
/* End */

/* admin dashborad */



.body {
    /* clear: both; */
}

.sidebar{
    float:left;
    height: 100%;
    width: 300px;
}